* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.preloader {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.preloader--disappear {
  animation: fade 2s forwards;
  -webkit-animation: fade 2s forwards;
}
.preloader--overflow {
  overflow: hidden;
}
@keyframes fade {
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

#shiro {
  margin: 0px 40px 0px 0px;
}

.loading-bar {
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
.loading-bar--animated {
  animation: barShrink 1s forwards;
  animation-delay: 3s;
  animation-timing-function: ease-in;
}
@keyframes barShrink {
  0% {
    width: 100px;
  }
  100% {
    width: 0px;
  }
}
.loading-bar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.loading-bar__progress {
  height: 3px;
  width: 0%;
  background-color: white;
}
.loading-bar__progress--animated {
  animation: loading 3s forwards;
}
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.letsGo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .letsGo {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .letsGo {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .letsGo {
    height: 40px;
    width: 40px;
  }
}
.letsGo:hover {
  cursor: pointer;
}
.letsGo__label {
  font-family: "Inconsolata", monospace;
}
.letsGo__label--appear {
  animation: textIn 2s forwards;
  animation-delay: 3.4s;
}
@keyframes textIn {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
  }
}
.letsGo__pulse {
  width: 0px;
  height: 0px;
  border-radius: 50%;
}
.letsGo__pulse--appear {
  animation: pulseAppear 1s forwards;
  animation-delay: 3.2s;
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  @keyframes pulseAppear {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      height: 55px;
      width: 55px;
    }
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  @keyframes pulseAppear {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      height: 45px;
      width: 45px;
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  @keyframes pulseAppear {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      height: 45px;
      width: 45px;
    }
  }
}
@keyframes pulseAppear {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    height: 45px;
    width: 45px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  z-index: 10;
  height: 33vh;
  width: 100vw;
  background-color: #5a5a5a;
}

#pixelArt {
  position: absolute;
  z-index: -1;
  height: 100%;
}

#fox {
  position: absolute;
  bottom: 12%;
  z-index: 2;
  border: 1px solid red;
}

.navbar {
  position: absolute;
  z-index: 6;
  display: flex;
  justify-content: space-evenly;
  bottom: 10px;
  width: 60vw;
}
@media only screen and (max-width: 400px) {
  .navbar {
    width: 80vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .navbar {
    width: 80vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    width: 75vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    width: 70vw;
  }
}
.navbar__item {
  margin: 0px 20px;
  width: 38px;
  list-style: none;
}
.navbar__link {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
}
@media only screen and (max-width: 400px) {
  .navbar__link {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .navbar__link {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navbar__link {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar__link {
    font-size: 1rem;
  }
}
.navbar__link:hover {
  cursor: pointer;
  color: white;
}

#linkBar {
  position: absolute;
  bottom: 54px;
  height: 3px;
  width: 70vw;
  background-color: white;
}
@media only screen and (max-width: 400px) {
  #linkBar {
    height: 2px;
    width: 90vw;
    bottom: 38px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  #linkBar {
    height: 2px;
    width: 90vw;
    bottom: 38px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #linkBar {
    height: 2px;
    width: 80vw;
    bottom: 41px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #linkBar {
    height: 2px;
    width: 75vw;
    bottom: 47px;
  }
}

.circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 0px 15px 0px;
}
@media only screen and (max-width: 400px) {
  .circle {
    height: 12px;
    width: 12px;
    margin: 0px 0px 10px 0px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .circle {
    height: 12px;
    width: 12px;
    margin: 0px 0px 10px 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .circle {
    height: 15px;
    width: 15px;
    margin: 0px 0px 10px 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .circle {
    height: 17px;
    width: 17px;
    margin: 0px 0px 13px 0px;
  }
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#home {
  background-color: black;
}

#about {
  display: flex;
  background-color: black;
}

#skills {
  background-color: black;
}

#projects {
  background-color: black;
}

#contact {
  background-color: black;
}

.home__visibleArea {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 67vh;
  width: 80vw;
  border: 1px solid blue;
}
@media only screen and (max-width: 400px) {
  .home__visibleArea {
    flex-direction: column;
    width: 90vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .home__visibleArea {
    flex-direction: column;
    width: 90vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home__visibleArea {
    width: 90vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .home__visibleArea {
    width: 90vw;
  }
}

.dialouge__size {
  display: flex;
  align-items: center;
  position: absolute;
  margin: auto 0%;
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .dialouge__size {
    height: 67vh;
    justify-content: center;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__size {
    height: 67vh;
    justify-content: center;
  }
}
.dialouge__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 5%;
}
@media only screen and (max-width: 400px) {
  .dialouge__box {
    width: 80vw;
    margin: 28% auto 73% auto;
    left: 0;
    right: 0;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__box {
    width: 80vw;
    margin: 28% auto 73% auto;
    left: 0;
    right: 0;
  }
}
.dialouge__title {
  position: relative;
  z-index: 2;
  font-family: "Chakra Petch", sans-serif;
  font-weight: normal;
  font-size: 8vw;
  color: white;
}
@media only screen and (max-width: 400px) {
  .dialouge__title {
    font-size: 12.8vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__title {
    font-size: 12.8vw;
  }
}
.dialouge__subTitle {
  position: relative;
  z-index: 2;
  padding-left: 4px;
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 400px) {
  .dialouge__subTitle {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__subTitle {
    font-size: 1rem;
  }
}
.dialouge__portrait {
  position: absolute;
  bottom: 3px;
  right: 5%;
  z-index: 2;
  width: 30%;
}
@media only screen and (max-width: 400px) {
  .dialouge__portrait {
    width: 55%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__portrait {
    width: 55%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
.dialouge__portrait--blink {
  z-index: 3;
}
.dialouge__portrait--blink:hover {
  display: none;
}
.dialouge__frame, .dialouge__frame--phoneSmall, .dialouge__frame--phone {
  margin: auto;
  width: 100%;
  display: visible;
}
@media only screen and (max-width: 400px) {
  .dialouge__frame, .dialouge__frame--phoneSmall, .dialouge__frame--phone {
    display: none;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__frame, .dialouge__frame--phoneSmall, .dialouge__frame--phone {
    display: none;
  }
}
.dialouge__frame--phone {
  display: none;
}
@media only screen and (max-width: 400px) {
  .dialouge__frame--phone {
    display: visible;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__frame--phone {
    display: visible;
  }
}

.about__visibleArea {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 67vh;
  width: 80vw;
}
@media only screen and (max-width: 400px) {
  .about__visibleArea {
    flex-direction: column;
    width: 90vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .about__visibleArea {
    flex-direction: column;
    width: 90vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .about__visibleArea {
    width: 90vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about__visibleArea {
    width: 90vw;
  }
}

.dialouge__size {
  display: flex;
  align-items: center;
  position: absolute;
  margin: auto 0%;
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .dialouge__size {
    height: 67vh;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__size {
    height: 67vh;
    justify-content: center;
    align-items: center;
  }
}
.dialouge__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 5%;
}
@media only screen and (max-width: 400px) {
  .dialouge__box {
    width: 80vw;
    margin: 30% auto 70% auto;
    left: 0;
    right: 0;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__box {
    width: 80vw;
    margin: 44% auto 56% auto;
    left: 0;
    right: 0;
  }
}
.dialouge__paragraph {
  position: relative;
  z-index: 2;
  padding-left: 4px;
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  font-size: 1.5vw;
  color: rgba(255, 255, 255, 0.4);
  width: 62%;
}
@media only screen and (max-width: 400px) {
  .dialouge__paragraph {
    font-size: 0.95rem;
    width: 100%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__paragraph {
    font-size: 0.95rem;
    width: 100%;
  }
}
.dialouge__portrait {
  position: absolute;
  bottom: 3px;
  right: 5%;
  z-index: 2;
  width: 30%;
}
@media only screen and (max-width: 400px) {
  .dialouge__portrait {
    width: 55%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__portrait {
    width: 55%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
.dialouge__portrait--blink {
  z-index: 3;
}
.dialouge__portrait--blink:hover {
  display: none;
}
.dialouge__frame, .dialouge__frame--phoneSmall, .dialouge__frame--phone {
  margin: auto;
  width: 100%;
  display: visible;
}
@media only screen and (max-width: 400px) {
  .dialouge__frame, .dialouge__frame--phoneSmall, .dialouge__frame--phone {
    display: none;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__frame, .dialouge__frame--phoneSmall, .dialouge__frame--phone {
    display: none;
  }
}
.dialouge__frame--phone {
  display: none;
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .dialouge__frame--phone {
    display: block;
  }
}
.dialouge__frame--phoneSmall {
  display: none;
}
@media only screen and (max-width: 400px) {
  .dialouge__frame--phoneSmall {
    display: block;
    margin: 40% auto 60% auto;
  }
}

.skills__visibleArea {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  width: 100vw;
  border: 1px solid red;
}

.ui__container {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  height: 80%;
  width: 50%;
  border: 1px solid green;
}
@media only screen and (max-width: 400px) {
  .ui__container {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    height: 85%;
    width: 90vw;
    margin-top: 10px;
    padding: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .ui__container {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    height: 85%;
    width: 90vw;
    margin-top: 10px;
    padding: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .ui__container {
    height: 80%;
    width: 80%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .ui__container {
    height: 80%;
    width: 60%;
  }
}
.ui__title {
  position: absolute;
  top: -15px;
  color: white;
  font-family: "Inconsolata", monospace;
}
.ui__skillTree {
  height: 85%;
  width: 70%;
  border: 1px solid blue;
  margin-right: 20px;
}
@media only screen and (max-width: 400px) {
  .ui__skillTree {
    height: 65%;
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .ui__skillTree {
    height: 65%;
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
  }
}
.ui__description {
  height: 85%;
  width: 30%;
  border: 1px solid white;
}
@media only screen and (max-width: 400px) {
  .ui__description {
    height: 30%;
    width: 100%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .ui__description {
    height: 30%;
    width: 100%;
  }
}

.projects__visibleArea {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  width: 100vw;
}

.projectUi__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  height: 80%;
  width: 50%;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 25px;
}
@media only screen and (max-width: 400px) {
  .projectUi__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 85%;
    width: 90vw;
    margin-top: 10px;
    padding: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .projectUi__container {
    flex-direction: column-reverse;
    align-items: center;
    height: 85%;
    width: 90vw;
    margin-top: 10px;
    padding: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projectUi__container {
    align-items: flex-end;
    height: 80%;
    width: 75%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projectUi__container {
    align-items: flex-end;
    height: 80%;
    width: 60%;
  }
}
.projectUi__list {
  position: relative;
  height: 80%;
  width: 35%;
  margin-right: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
@media only screen and (max-width: 400px) {
  .projectUi__list {
    margin-top: 10px;
    margin-right: 0px;
    height: 30%;
    width: 90vw;
    border-top: 0px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .projectUi__list {
    margin-top: 10px;
    margin-right: 0px;
    height: 30%;
    width: 90vw;
    border-top: 0px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projectUi__list {
    height: 88%;
    width: 35%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projectUi__list {
    height: 80%;
    width: 35%;
  }
}
.projectUi__description {
  position: relative;
  height: 80%;
  width: 65%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
@media only screen and (max-width: 400px) {
  .projectUi__description {
    margin-right: 0px;
    height: 85%;
    width: 90vw;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 3px solid rgba(255, 255, 255, 0.4);
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    border-left: 0px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .projectUi__description {
    margin-right: 0px;
    height: 85%;
    width: 90vw;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 3px solid rgba(255, 255, 255, 0.4);
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    border-left: 0px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projectUi__description {
    height: 88%;
    width: 65%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projectUi__description {
    height: 80%;
    width: 65%;
  }
}
.projectUi__tab {
  position: absolute;
  top: -15px;
  left: 5%;
  display: flex;
  justify-content: center;
  border: 1px solid cadetblue;
}
.projectUi__title {
  position: absolute;
  z-index: 2;
  color: black;
  font-family: "Inconsolata", monospace;
}
.projectUi__tabImg {
  position: absolute;
  z-index: 1;
}

.list__item {
  list-style: none;
}

.contact {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.contact__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 67vh;
  width: 50%;
}
@media only screen and (max-width: 400px) {
  .contact__section {
    flex-direction: column;
    justify-content: center;
    width: 95vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .contact__section {
    flex-direction: column;
    justify-content: center;
    width: 95vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contact__section {
    width: 90vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contact__section {
    width: 90vw;
  }
}

.form {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-gap: 20px;
  min-width: 300px;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .form {
    grid-gap: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .form {
    grid-gap: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .form {
    grid-gap: 15px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .form {
    grid-gap: 15px;
  }
}
.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 380px;
  padding: 20px;
  background-color: peachpuff;
}
@media only screen and (max-width: 400px) {
  .form__container {
    height: 90%;
    width: 90vw;
    padding: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .form__container {
    height: 80%;
    width: 80%;
    padding: 15px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .form__container {
    height: 80%;
    width: 60%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .form__container {
    height: 80%;
    width: 60%;
  }
}
.form__title {
  margin-top: 10px;
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  text-align: center;
}
.form__subtitle {
  margin-bottom: 30px;
  font-family: "Inconsolata", monospace;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 1rem;
}
@media only screen and (max-width: 400px) {
  .form__subtitle {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .form__subtitle {
    margin-bottom: 20px;
  }
}
.form__label {
  color: black;
  font-family: "Inconsolata", monospace;
}
@media only screen and (max-width: 400px) {
  .form__label {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .form__label {
    font-size: 0.8rem;
  }
}
.form__input {
  padding: 8px;
  width: 90%;
  border: 1px solid white;
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  color: white;
  border: none;
  border-radius: 50%;
}
@media only screen and (max-width: 400px) {
  .form__button {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .form__button {
    height: 50px;
    width: 50px;
  }
}
.form__button:hover {
  cursor: pointer;
}
.form__button--reset {
  position: absolute;
  bottom: 20px;
  right: 100px;
  color: black;
  border: 4px solid black;
}
@media only screen and (max-width: 400px) {
  .form__button--reset {
    right: 80px;
    bottom: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .form__button--reset {
    right: 80px;
    bottom: 10px;
  }
}
.form__button--submit {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: crimson;
}
@media only screen and (max-width: 400px) {
  .form__button--submit {
    right: 10px;
    bottom: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  .form__button--submit {
    right: 10px;
    bottom: 10px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100vw;
  background-color: black;
}
footer > p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Inconsolata", monospace;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
}
@media only screen and (min-width: 401px) and (max-width: 576px) {
  footer > p {
    width: 90vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  footer > p {
    width: 80vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  footer > p {
    width: 75vw;
  }
}
