* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.preloader {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.preloader--disappear {
  animation: fade 2s forwards;
  -webkit-animation: fade 2s forwards;
}
.preloader--overflow {
  overflow: hidden;
}
@keyframes fade {
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

#shiro {
  margin: 0px 40px 0px 0px;
}

.loading-bar {
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
.loading-bar--animated {
  animation: barShrink 1s forwards;
  animation-delay: 3s;
  animation-timing-function: ease-in;
}
@keyframes barShrink {
  0% {
    width: 100px;
  }
  100% {
    width: 0px;
  }
}
.loading-bar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.loading-bar__progress {
  height: 3px;
  width: 0%;
  background-color: white;
}
.loading-bar__progress--animated {
  animation: loading 3s forwards;
}
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.letsGo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
@media only screen and (max-width: 576px) {
  .letsGo {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .letsGo {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .letsGo {
    height: 40px;
    width: 40px;
  }
}
.letsGo:hover {
  cursor: pointer;
}
.letsGo__label {
  font-family: "Inconsolata", monospace;
}
.letsGo__label--appear {
  animation: textIn 2s forwards;
  animation-delay: 3.2s;
}
@keyframes textIn {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
  }
}
.letsGo__pulse {
  width: 0px;
  height: 0px;
  border-radius: 50%;
}
.letsGo__pulse--appear {
  animation: pulseAppear 1s forwards;
  animation-delay: 3.2s;
}
@media only screen and (max-width: 576px) {
  @keyframes pulseAppear {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      height: 55px;
      width: 55px;
    }
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  @keyframes pulseAppear {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      height: 45px;
      width: 45px;
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  @keyframes pulseAppear {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      height: 45px;
      width: 45px;
    }
  }
}
@keyframes pulseAppear {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    height: 45px;
    width: 45px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  z-index: 1;
  height: 33vh;
  width: 100vw;
  background-color: #5a5a5a;
}

#pixelArt {
  position: absolute;
  z-index: -1;
  height: 100%;
}

#fox {
  position: absolute;
  bottom: 12%;
  z-index: 2;
  border: 1px solid red;
}

.navbar {
  position: absolute;
  z-index: 6;
  display: flex;
  justify-content: space-evenly;
  bottom: 10px;
  width: 60vw;
}
@media only screen and (max-width: 576px) {
  .navbar {
    width: 80vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    width: 75vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    width: 70vw;
  }
}
.navbar__item {
  margin: 0px 20px;
  width: 38px;
  list-style: none;
}
.navbar__link {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
}
@media only screen and (max-width: 576px) {
  .navbar__link {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navbar__link {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar__link {
    font-size: 1rem;
  }
}
.navbar__link:hover {
  cursor: pointer;
  color: white;
}

#linkBar {
  position: absolute;
  bottom: 54px;
  height: 3px;
  width: 70vw;
  background-color: white;
}
@media only screen and (max-width: 576px) {
  #linkBar {
    height: 2px;
    width: 90vw;
    bottom: 38px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #linkBar {
    height: 2px;
    width: 80vw;
    bottom: 41px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #linkBar {
    height: 2px;
    width: 75vw;
    bottom: 47px;
  }
}

.circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 0px 15px 0px;
}
@media only screen and (max-width: 576px) {
  .circle {
    height: 12px;
    width: 12px;
    margin: 0px 0px 10px 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .circle {
    height: 15px;
    width: 15px;
    margin: 0px 0px 10px 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .circle {
    height: 17px;
    width: 17px;
    margin: 0px 0px 13px 0px;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home {
  background-color: black;
}

#about {
  background-color: black;
}

#skills {
  background-color: black;
}

#projects {
  background-color: black;
}

#contact {
  background-color: skyblue;
}

.home__section {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67vh;
  width: 80vw;
  border: 1px solid red;
}
@media only screen and (max-width: 576px) {
  .home__section {
    flex-direction: column;
    width: 95vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home__section {
    width: 90vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .home__section {
    width: 90vw;
  }
}

.contact {
  position: relative;
  height: calc(100vh - 20px);
}
.contact__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 67vh;
  width: 80vw;
  border: 1px solid red;
}
@media only screen and (max-width: 576px) {
  .contact__section {
    flex-direction: column;
    width: 95vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contact__section {
    width: 90vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contact__section {
    width: 90vw;
  }
}
.contact__section--1 {
  background-color: antiquewhite;
  max-height: 60vh;
  width: 50%;
  border: 1px solid blue;
}
@media only screen and (max-width: 576px) {
  .contact__section--1 {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contact__section--1 {
    width: 70%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contact__section--1 {
    width: 90vw;
  }
}
.contact__section--2 {
  display: flex;
  background-color: peachpuff;
  max-height: 60vh;
  width: 40%;
  border: 1px solid green;
}
.contact__image {
  width: 100%;
  height: auto;
}

.form {
  height: 300px;
  width: 200px;
  padding: 20px;
  background-color: peachpuff;
}
.form__label {
  color: white;
  font-family: "Inconsolata", monospace;
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  padding: 20px 10px;
  color: white;
  border: none;
  border-radius: 50%;
}
.form__button:hover {
  cursor: pointer;
}
.form__button--reset {
  color: black;
  border: 4px solid black;
}
.form__button--submit {
  color: white;
  background-color: crimson;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100vw;
  background-color: black;
}
footer > p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Inconsolata", monospace;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 576px) {
  footer > p {
    width: 90vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  footer > p {
    width: 80vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  footer > p {
    width: 75vw;
  }
}
