@use "./partials/palette" as p;
@use "./partials/variables" as v;
@use "./partials/mediaQuery" as mQ;
@use "./partials/mixins" as m;

@import "./partials/basics";
@import "./partials/preloader";
@import "./partials/navbar";

// body styling
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// temporary section styling
// NOTE: Sections must be z-index: 1; in order for interactivity to work with cursor
#home {
  background-color: black;
}

#about {
  display: flex;
  position: relative;

  background-color: black;
}

#skills {
  background-color: black;
  position: relative;
}

#projects {
  background-color: black;
}

#contact {
  background-color: black;
}
@import "./partials/home";
@import "./partials/about";
@import "./partials/skills";
@import "./partials/contact";
@import "./partials/footer";