@use "./partials/palette" as p;
@use "./partials/variables" as v;
@use "./partials/mediaQuery" as mQ;
@use "./partials/mixins" as m;

@import "./partials/basics";
@import "./partials/preloader";
@import "./partials/navbar";

// body styling
.section {
  height: 67vh;
}

// temporary section styling
#home {
  background-color: black;
}

#about {
  background-color: black;
}

#skills {
  background-color: black;
}

#projects {
  background-color: black;
}

#contact {
  background-color: black;
}

@import "./partials/footer";