@use "./variables" as v;
@use "./mixins.scss" as m;

// reset
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

main {
  background-color: burlywood;
  height: 200px;
}

// navigation 
nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;

  height: 33vh;
  width: 100vw;
  background-color: silver;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0px 0px 15px 0px;

  // onclick others shrink to 15px
  // onclick chosen one expands to 20px
}

.navbar {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  
  &__item {
    margin: 0px 15px;
    list-style: none;
  }

  &__link {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

// body styling
.section {
  height: 67vh;
}

#home {
  background-color: burlywood;
}

#about {
  background-color: cadetblue;
}

#skills {
  background-color: cornflowerblue;
}

#projects {
  background-color: darkgoldenrod;
}

#contact {
  background-color: darkseagreen;
}