@use "./mixins" as m;

// reset
* {
  margin: 0;
  padding: 0;
  scrollbar-width: none; //IE, Edge, Firefox
}

// hide scrollbar Safari, Chrome, Opera
::-webkit-scrollbar {
  display: none;
}

body {
  @include m.height-width(100vh, 100vw);
  background-color: #000000;
}