$white: white;
$transparentText: rgb(255, 255, 255, 0.4);
$black: black;
$transparentBlack: rgb(0, 0, 0, 0.4);
$uiFrame: rgba(255, 255, 255, .7);
$uiInsetBorder: rgba(255, 255, 255, .4);
$uiInset: rgba(0, 0, 0, 0.8); 