// preloader/opening page
.preloader {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.height-width (100vh, 100vw);
  background-color: black;
  
  // class to fade preloader
  &--disappear {
    animation: fade 2s forwards;
    -webkit-animation: fade 2s forwards;
  }

  @keyframes fade {
    100% {
      opacity: 0%;
      visibility: hidden;
    }
  }

  // class to prevent overflow
  &--overflow {
    overflow: hidden;
  }
}

#shiro {
  margin: 0px 40px 0px 0px;
}

.loading-bar {
  @include m.height-width (3px, 100px);
  background-color: p.$transparentText;

  &__progress {
    @include m.height-width (3px, 20%);
    background-color: white;
  }

}

.letsGo {
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.height-width (20px, 20px);
  border-radius: 50%;
  background-color: white;
  border: none;

  @include mQ.query-phone {
    @include m.height-width (50px, 50px);
  }

  @include mQ.query-tablet {
    @include m.height-width (40px, 40px);
  }

  @include mQ.query-tablet-landscape {
    @include m.height-width (40px, 40px);
  }

  &:hover {
    cursor: pointer;
  }

  &__label {
    margin: 5px 0px 50px 0px;
    font-family: v.$smallText;
    color: white;
  }

  &__pulse {
    width: 30px;
    border-radius: 50%;

    @include mQ.query-phone {
      @include m.height-width (55px, 55px);
    }
    
    @include mQ.query-tablet {
      @include m.height-width (45px, 45px);
    }
  
    @include mQ.query-tablet-landscape {
      @include m.height-width (45px, 45px);
    }
  }
}