@use "./palette" as p;
@use "./variables" as v;
@use "./mixins" as m;
@use "./mediaQuery" as mQ;

.skills__visibleArea {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.height-width(67vh, 100vw);
  border: 1px solid red;
}



.ui {
  &__skillTree {
    margin-right: 20px;
    @include m.height-width(85%, 70%);
    border: 1px solid blue;
    border-radius: 15px;
  
    @include mQ.query-phone-small {
      @include m.height-width(65%, 100%);
      margin-right: 0px;
      margin-top: 10px;
      border-radius: 20px;
    }
    @include mQ.query-phone {
      @include m.height-width(65%, 100%);
      margin-right: 0px;
      margin-top: 10px;
      border-radius: 20px;
    }
  }

  &__description {
    @include m.height-width(85%, 30%);
    border: 1px solid white;
    border-radius: 15px;

    @include mQ.query-phone-small {
      @include m.height-width(30%, 100%);
      border-radius: 20px;
    }
    @include mQ.query-phone {
      @include m.height-width(30%, 100%);
      border-radius: 20px;
    }
  }
}