@use "./palette" as p;
@use "./variables" as v;
@use "./mixins" as m;
@use "./mediaQuery" as mQ;

.skills__visibleArea {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.height-width(67vh, 100vw);
  border: 1px solid red;
}

.ui {

  &__container {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    @include m.height-width(80%, 50%);
    border: 1px solid green;
    @include mQ.query-phone-small {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column-reverse;
      @include m.height-width(85%, 90vw);
      //alter margin based on title size
      margin-top: 10px;
      padding: 10px;
    }
    @include mQ.query-phone {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column-reverse;
      @include m.height-width(85%, 90vw);
      //alter margin based on title size
      margin-top: 10px;
      padding: 10px;
    }
    @include mQ.query-tablet {
      @include m.height-width(80%, 80%);
    }
    @include mQ.query-tablet-landscape {
      @include m.height-width(80%, 60%);
    }
  }

  &__title {
    position: absolute;
    top: -15px;
    color: p.$white;
    font-family: v.$smallText;
  }

  &__skillTree {
    @include m.height-width(85%, 70%);
    border: 1px solid blue;
    margin-right: 20px;
    @include mQ.query-phone-small {
      @include m.height-width(65%, 100%);
      margin-right: 0px;
      margin-top: 10px;
    }
    @include mQ.query-phone {
      @include m.height-width(65%, 100%);
      margin-right: 0px;
      margin-top: 10px;
    }
  }

  &__description {
    @include m.height-width(85%, 30%);
    border: 1px solid white;
    @include mQ.query-phone-small {
      @include m.height-width(30%, 100%);
    }
    @include mQ.query-phone {
      @include m.height-width(30%, 100%);
    }
  }
}