// screen sizes
$phone-small: 400px;
$phone: 576px;
$tablet: 768px;
$tablet-landscape: 992px;
$laptop: 1024px;

// typography
$smallText: 'Inconsolata', monospace;
$titleText: 'Chakra Petch', sans-serif;
$paragraph: 'Montserrat', sans-serif;
$spaceGrotesk: 'Space Grotesk', sans-serif;
$sulphurPoint: 'Sulphur Point', sans-serif;
$lekton: 'Lekton', sans-serif;

// footer
$footerHeight: 20px;